<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>(Sandy) Alex G</string>
    <string>100 gecs</string>
    <string>21 Savage</string>
    <string>88rising’s Double Happiness</string>
    <string>Adam Port</string>
    <string>Alec Benjamin</string>
    <string>Ali Gatie</string>
    <string>Altın Gün</string>
    <string>Amber Mark</string>
    <string>Amyl and the Sniffers</string>
    <string>Anitta</string>
    <string>ANNA</string>
    <string>Anna Calvi</string>
    <string>Ari Lennox</string>
    <string>Aya Nakamura</string>
    <string>BADBADNOTGOOD</string>
    <string>Banda MS</string>
    <string>beabadoobee</string>
    <string>Beach Bunny</string>
    <string>Beach Goons</string>
    <string>Bedouin</string>
    <string>Big Sean</string>
    <string>Big Wild</string>
    <string>BIGBANG</string>
    <string>Bishop Briggs</string>
    <string>black midi</string>
    <string>Black Pumas</string>
    <string>Black Coffee</string>
    <string>BROCKHAMPTON</string>
    <string>Calvin Harris</string>
    <string>Caribou</string>
    <string>Cariño</string>
    <string>Carly Rae Jepsen</string>
    <string>Cashmere Cat</string>
    <string>Channel Tres</string>
    <string>Charli XCX</string>
    <string>Chelsea Cutler</string>
    <string>Chicano Batman</string>
    <string>Chris Liebing</string>
    <string>City Girls</string>
    <string>Code Orange</string>
    <string>Conan Gray</string>
    <string>Crumb</string>
    <string>Cuco</string>
    <string>DaBaby</string>
    <string>Damian Lazarus</string>
    <string>Daniel Caesar</string>
    <string>Danny Elfman</string>
    <string>Daphni</string>
    <string>Dave</string>
    <string>Denzel Curry</string>
    <string>Detlef</string>
    <string>Disclosure</string>
    <string>Dixon</string>
    <string>DJ Koze</string>
    <string>DJ Lord</string>
    <string>Doja Cat</string>
    <string>Dom Dolla</string>
    <string>Duck Sauce</string>
    <string>Duke Dumont</string>
    <string>Ed Maverick</string>
    <string>ela minus</string>
    <string>Ellen Allien</string>
    <string>Emo Nite</string>
    <string>Emotional Oranges</string>
    <string>Epik High</string>
    <string>Erick Morillo</string>
    <string>Ezra Collective</string>
    <string>Fatboy Slim</string>
    <string>FKA twigs</string>
    <string>Floating Points</string>
    <string>Flume</string>
    <string>Fontaines D.C.</string>
    <string>Frank Ocean</string>
    <string>Freddie Gibbs &amp; Madlib</string>
    <string>Friendly Fires</string>
    <string>GG Magree</string>
    <string>girl in red</string>
    <string>Giselle Woo &amp; the Night Owls</string>
    <string>GRiZ</string>
    <string>Guy Laliberté</string>
    <string>Hatsune Miku</string>
    <string>Hayden James</string>
    <string>Hot Chip</string>
    <string>IDLES</string>
    <string>Inner Wave</string>
    <string>J.I.D</string>
    <string>Jai Wolf</string>
    <string>Jayda G</string>
    <string>Jessie Reyez</string>
    <string>Joji</string>
    <string>Kim Petras</string>
    <string>King Gizzard &amp; the Lizard Wizard</string>
    <string>Koffee</string>
    <string>Kruder &amp; Dorfmeister</string>
    <string>Kyary Pamyu Pamyu</string>
    <string>Kyle Watson</string>
    <string>Kynda Black</string>
    <string>L'Impératrice</string>
    <string>Lana Del Rey</string>
    <string>Lane 8</string>
    <string>Lauren Daigle</string>
    <string>Ленинград (Leningrad)</string>
    <string>Lewis Capaldi</string>
    <string>Lil Nas X</string>
    <string>Lil Uzi Vert</string>
    <string>Lost Kings</string>
    <string>Louis the Child</string>
    <string>Luttrell</string>
    <string>Madeon</string>
    <string>Malaa</string>
    <string>Mannequin Pussy</string>
    <string>Mariah the Scientist</string>
    <string>Marina</string>
    <string>Masego</string>
    <string>Matoma</string>
    <string>Megan Thee Stallion</string>
    <string>Melé</string>
    <string>MIKA</string>
    <string>Monolink</string>
    <string>Mura Masa</string>
    <string>NIKI</string>
    <string>Nilüfer Yanya</string>
    <string>Noname</string>
    <string>Olivia O’Brien</string>
    <string>Omar Apollo</string>
    <string>ONYVAA</string>
    <string>Orville Peck</string>
    <string>Pabllo Vittar</string>
    <string>Paco Osuna</string>
    <string>Peggy Gou</string>
    <string>Pink Sweat$</string>
    <string>Princess Nokia</string>
    <string>PUP</string>
    <string>Rage Against the Machine</string>
    <string>Raveena</string>
    <string>Rex Orange County</string>
    <string>Rich Brian</string>
    <string>Roddy Ricch</string>
    <string>Run the Jewels</string>
    <string>Sahar Z</string>
    <string>Sama’</string>
    <string>Sampa the Great</string>
    <string>Sara Landry</string>
    <string>Sasha Sloan</string>
    <string>Satori</string>
    <string>SebastiAn</string>
    <string>Seun Kuti &amp; Egypt 80</string>
    <string>Skegss</string>
    <string>SLANDER</string>
    <string>Sleaford Mods</string>
    <string>slowthai</string>
    <string>Snail Mail</string>
    <string>Steve Lacy</string>
    <string>Summer Walker</string>
    <string>Swae Lee</string>
    <string>Tchami</string>
    <string>Testpilot</string>
    <string>The Chats</string>
    <string>The Comet Is Coming</string>
    <string>The HU</string>
    <string>The Martinez Brothers</string>
    <string>The Murder Capital</string>
    <string>The Regrettes</string>
    <string>Thom Yorke | Tomorrow's Modern Boxes</string>
    <string>Tiga</string>
    <string>TNGHT</string>
    <string>TOKiMONSTA</string>
    <string>Travis Scott</string>
    <string>Viagra Boys</string>
    <string>VNSSA</string>
    <string>Weyes Blood</string>
    <string>Whipped Cream</string>
    <string>Yaeji</string>
    <string>YBN Cordae</string>
    <string>YUNGBLUD</string>
</array>
</plist>
